# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\NTNU_skole\Prog2\Obliger, tester og sånt\MappeOppgave1\M01- 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
/target
M01- 1 HospitalSystem1.iml
